<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"
    type="text/javascript"></script>
    
</head>


<body>
@RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    
   
</body>
<script type="text/javascript">
    shots = $(".shot").fadeTo(0, 0);

    $('.container').scroll(function (d, h) {
        shots.each(function (i) {
            a = $(this).offset().top + $(this).height();
            b = $('#portfolio').scrollTop() + $('.container').height();
            if (a < b)
            { $(this).fadeTo(800, 1); }

        });
    });

    shot2 = $(".shot2").fadeTo(0, 0);

    $('.container').scroll(function (d, h) {
        shot2.each(function (i) {
            a = $(this).offset().top + $(this).height();
            b = $('#portfolio').scrollTop() + $('.container').height();
            if (a < b)
            { $(this).fadeTo(800, 1); }

        });
    });


    shot3 = $(".shot3").fadeTo(0, 0);

    $('.container').scroll(function (d, h) {
        shot3.each(function (i) {
            a = $(this).offset().top + $(this).height();
            b = $('#portfolio').scrollTop() + $('.container').height();
            if (a < b)
            { $(this).fadeTo(800, 1); }

        });
    });


    function launch() {
        op = $('.shot').css('opacity');

        if ($('.shot').css('opacity') == 1) {
            $('.shot').hover(function () {
                $('.hov1').fadeIn();
            }, function () {
                $('.hov1').fadeOut();
            });
        }
    }
    </script>
</html>
